<ion-view view-title="Recomenda Aí" class="padding">
  <ion-content class="bv-custom">
    <div class="logo-icon">
      <i class="icon ion-android-checkmark-circle"></i>  
    </div>
    <h1 class="logo">Diário de Bordo</h1>
      <div class="btn-comecar">
        <ion-list>
          <ion-item class="bv-item">
            <button class="button button-block button-positive" onclick="window.location.assign('#/sin/login')">Começar</button>
          </ion-item>
        </ion-list>
      </div>
  </ion-content>
</ion-view>

