<ion-view view-title="Recomenda Aí" class="padding">
  <ion-content class="bv-custom">
    <div class="login-form">
      <div class="text-center">
        <h3 class="logo logo-login">Credenciais</h3>
      </div>
      <ion-list>
        <ion-item class="item-input">
          <i class = "icon ion-ios-person-outline placeholder-icon"></i>
          <input type="text" placeholder="Usuário">
        </ion-item>
        <ion-item class="item-input">
          <i class = "icon ion-ios-locked-outline placeholder-icon"></i>
          <input type="password" placeholder="Senha">
        </ion-item>
      </ion-list>
    </div>
    <div class="btn-comecar">
      <ion-list>
        <ion-item class="bv-item">
          <button class="button button-block button-positive" onclick="window.location.assign('#/sin/principal')">Login</button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>

